/* Eliminar borde de imágenes */
.customWidthWrapper img {
    border: none;
  }
  
  
  .customWidthWrapper h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.2;
  }
  
  .customWidthWrapper h2 {
    font-size: 1.55em;
    padding-bottom: .35em;
  }
  
  .customWidthWrapper a {
    text-decoration: none;
    font-weight: 400;
  }
  
  /* Contenedor Principal */
  .customWidthWrapper {
    max-width: 750px;
    margin: 0 auto;
    line-height: 1.55;
    font-size: 100%;
    font-weight: 400;
    font-family: helvetica, arial, sans-serif;
  }
  
  /* Post Index */
  #customPostIndex {
    margin: 3em auto;
  }
  
  .customArticle {
    margin-top: -0.063em;
  }
  
  .customArticle a {
    display: block;
    padding: 2.374em 2.5em 2.5em 2.5em;
    overflow: hidden;
    border-top: .063em solid #ccc;
    border-bottom: .063em solid #ccc;
  }
  
  .customArticle a:hover {
    background: #eee;
    border-top: #f2a81e solid .25em;
    padding: 2.187em 2.5em 2.5em 2.5em;
  }
  
  .customPostImg {
    float: left;
    width: 25%;
    box-sizing: border-box;
    padding-right: 2em;
  }
  
  .customPostImg img {
    width: 100%;
  }
  
  .customArticle a h2 {
    color: #444;
    float: right; 
    width: 75%;
  }
  
  .customArticle a:hover h2 {
    color: #007DB6;
  }
  
  .customArticle a p {
    color: #444;
    float: right; 
    width: 75%;
  }
  
  .customArticle a:hover p {
    color: #007DB6;
  }
  
  /* Media Queries para Responsividad */
  @media only screen and (max-width: 750px) {
    #customPostIndex {
      width: 100%;
    }
  
    .customArticle a {
      padding: 2.374em 1.5em 2.5em 1.5em;
    }
  
    .customArticle a:hover {
      padding: 2.187em 1.5em 2.5em 1.5em;
    }
  }
  
  @media only screen and (max-width: 481px) {
    .customPostImg {
      display: none; /* Ocultar imagen en pantallas pequeñas */
    }
  
    .customArticle a p, 
    .customArticle a h2 {
      width: 100%; /* Hacer que el texto ocupe el 100% */
    }
  }
  