aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%; /* Altura del aside igual a la altura del viewport */
    box-sizing: border-box; /* Incluye el padding en el tamaño total */
    overflow: hidden; /* Evita que el contenido se desborde */
  }