@import url('https://fonts.googleapis.com/css?family=Roboto:700');

/*BLOG INICIO */

#sc123 {
	width: 100%;
	display: block;
	margin: 6rem 0rem;
}

/* 2 */
.custom-A4D {
	width: 500px;
	height: 125px;
	color: #fff;
	border-radius: 25px;
	padding: 10px 25px;
	font-family: 'Roboto', sans-serif !important;
	font-weight: 500;
	font-size: 70px;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	 box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
	 7px 7px 20px 0px rgba(0,0,0,.1),
	 4px 4px 5px 0px rgba(0,0,0,.1);
	outline: none;
}

.custom-A4D {
	background: #007DB6;
	background: linear-gradient(25deg, #008f3b 0%, #007DB6 100%);
	border: none;
  }
  
  .custom-A4D:before {
	height: 0%;
	width: 2px;
  }
  
  .custom-A4D:hover {
	box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
				-4px -4px 6px 0 rgba(116, 125, 136, .5), 
				inset -4px -4px 6px 0 rgba(255,255,255,.2),
				inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }
  

#sc123 .wrp56 {
	margin: 0 auto;
	width: 80%;
	background-color: #ffffff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#sc123 .wrp56 .cnt78 {
	width: 60%;
	padding-top: 3.4rem;
	padding-right: 3rem;
	padding-bottom: 2rem;
}

#sc123 .wrp56 .cnt78 h1 {
	color: #000000;
	font-size: 4rem;
	font-weight: 800;
	letter-spacing: 1rem;
	line-height: 6rem;
	text-transform: uppercase;
	margin-bottom: 2vw;
}

#sc123 .wrp56 .cnt78 p.dsc34 {
	color: rgba(89, 89, 89, 0.8);
	font-size: 1rem;
	font-style: italic;
	line-height: 2rem;
	margin-bottom: 4vw;
	padding-right: 4rem;
}

#sc123 .wrp56 .cnt78 a {
	border-bottom: 2px solid #a61458;
	text-decoration: none;
	color: #000000;
	font-weight: 400;
	text-transform: uppercase;
}

#sc123 .wrp56 .med98 {
	width: 40vw;
}

#sc123 .wrp56 .med98 .bg23 {
	width: 100%;
	height: auto;
	padding-top: 3vw;
}

#sc123 .wrp56 .med98 .bg23 img {
	width: 100%;
	height: auto;
}

@media only screen and (max-width: 1024px) {
	#sc123 {
		width: 100vw;
		display: block;
		margin-top: 0rem;
	}
	#sc123 .wrp56 {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	#sc123 .wrp56 .cnt78 {
		width: 80vw;
		padding: 8rem 2rem 2rem;
	}
	#sc123 .wrp56 .med98 {
		width: 80vw;
	}
	#sc123 .wrp56 .cnt78 h1 {
		font-size: 5.6vw;
		letter-spacing: 1rem;
		line-height: 4rem;
	}
}

@media only screen and (max-width: 768px) {
	#sc123 .wrp56 .cnt78 h1 {
		font-size: 5.6vw;
		letter-spacing: 0.6rem;
		line-height: 2.4rem;
		margin-bottom: 1rem;
	}
}

@media only screen and (max-width: 480px) {
	#sc123 .wrp56 .cnt78 p.dsc34 {
		font-size: 1rem;
		line-height: 1.8rem;
		margin-bottom: 4vw;
		padding-right: 1.2rem;
		text-align: justify;
		margin-bottom: 2rem;
	}
}
/* Responsividad para pantallas de tamaño medio (max-width: 1024px) */
@media only screen and (max-width: 1024px) {
	.custom-A4D {
		width: 400px;
		height: 100px;
		font-size: 60px;
		border-radius: 20px;
	}
}

/* Responsividad para pantallas de tamaño pequeño (max-width: 768px) */
@media only screen and (max-width: 768px) {
	.custom-A4D {
		width: 300px;
		height: 80px;
		font-size: 50px;
		border-radius: 15px;
		padding: 8px 20px;
	}
}

/* Responsividad para pantallas muy pequeñas (max-width: 480px) */
@media only screen and (max-width: 480px) {
    .custom-A4D {
        width: auto; /* Ajusta el ancho de acuerdo al contenido */
        height: 60px;
        font-size: 40px;
        border-radius: 10px;
        padding: 5px 15px;
        margin: 0 auto; /* Centra el botón horizontalmente si no está en un contenedor de texto */
        display: inline-block; /* Asegúrate de que el botón siga siendo inline para que se centre bien */
    }
}