/**/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');

/** DISEÑO DE LA PAGINA**/
/*
*{
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    text-decoration: none;
   
}
*/
html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    
    font-family: Poppins, sans-serif;
}
.content {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 2fr 1fr; /* Dos columnas para artículo y aside */
    grid-template-rows: min-content min-content 1fr; /* Tres filas: barra de navegación, contenido y aside */
    grid-gap: 20px; /* Espacio entre columnas y filas */
}


/** Scroll Personalizado**/

body::-webkit-scrollbar{
    width: 5px;
    background: transparent;
}

body::-webkit-scrollbar-thumb{
    background: #333131fa;
    height: 25%;
    border-radius: -20px;
    border-right: 2px solid #46a2fd;
}

/**MENU**/

header {
    grid-column: 1 / span 2; /* La barra de navegación ocupa dos columnas */
    z-index: 10;
}


.hero{
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    align-content: center;
    height: 80px;
    color: rgb(0, 0, 0);
    box-shadow: 0 4px 25px -22px black;
    z-index: 100; /* Ajusta el valor del z-index según sea necesario */
}
.nav{
    --state-close: scale(0);
    --state-hamburguer:scale(1);
    --state-menu: translate(-100%);

    padding: 10px 100px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, max-content);
}

.nav:target{
    --state-menu: translate(0);
    --state-close: scale(1);
    --state-hamburguer:scale(0);
}

.nav__logo{

    width: 160PX;
    cursor: pointer;
    z-index: 1;  
}

.nav__hamburguer, 
.nav__close{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 16px;
    background: #333131fa;
    border-radius: 100%;
    color: #000000;
    
    cursor: pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
    transition: .4s transform;
}

.nav__hamburguer{
    transform: var(--state-hamburguer);
}

.nav__close{
    transform: var(--state-close);
}

.nav__icon{
    width: 40px; 
}

.nav__links {
    
    width: 100%;
    list-style: none;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 62px; /* 80px desde la parte superior */
    left: 0;
    right: 0;
    padding: 20px; /* Separación de 20px en el lado derecho e izquierdo */
    display: flex;
    flex-direction: column;
    gap: 2em;
    transform: var(--state-menu);
    transition: .3s transform;
    z-index: 100; /* Ajusta el valor del z-index según sea necesario */
}

.nav__item{
    list-style: none;
    font-size: 18px;
}

.nav__link{
    color: #777777;
    text-decoration: none;
    font-size: 18px;
    transition: color 300ms;

}
.nav__links a:hover{
    color: #46a2fd;
}

@media (min-width:768px) {
    .hero {
        position: fixed;
        align-content: center;
        width: 100%;
        top: 0;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        z-index: 2;
      }
    
      

    .nav{
        --state-hamburguer:scale(0);
        --state-menu: translate(0);
    }
    
    .nav:target{
        --state-close: scale(0);
    }

    .nav__links {
        position: relative;
        top: 0;
        padding: 0;
        flex-direction: row;
        gap: 1.5em;
        left: 0; /* En dispositivos más grandes, resetea el valor de izquierda */
    }

    .nav__link{
        font-size: 1rem;
        letter-spacing: none;
    }
}
/** Carrusel portada superior **/

.carruserportada {
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    top: 72px;
    max-height: 400px;
    overflow: hidden;
    position: relative;
}

.carruserportada ul {
    width: 400%; /* Ancho total igual a 4 veces el ancho del viewport */
    max-height: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    animation: scroll 40s linear infinite; /* Cambia las imágenes cada 40 segundos */
}

.carruserportada li {
    width: 25%; /* Cada imagen ocupa el 25% del ancho del carrusel */
    max-height: 100%;
}

.carruserportada img {
    width: 100%;
    max-height: 100%;
}

@keyframes scroll {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -300%;
    }
}
/*BANNER ACTUALIDADES*/ 

.bannernoticias {
    position: relative;
    left: 100px;
    margin-top: 100px;
    bottom: 0; /* Separación de 10px desde abajo */
    width: 80%;
    color: #fff;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.iconbanner {
    background: url('bell-icon.png') center center no-repeat;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1; /* Coloca el ícono por encima del texto */
}

.listadenoticias {
    color: #000000;
    list-style: none;
    margin: 20px;
    padding: 20px;
    white-space: nowrap; /* Evita que los textos se rompan en varias líneas */
    display: flex; /* Para que los textos estén uno al lado del otro */
    gap: 10px; /* Espacio de 10px entre los textos */
    position: absolute;
    z-index: 0; /* Coloca el texto por debajo del ícono */
    width: 100%; /* Ocupa el ancho completo del contenedor bannernoticias */
    animation: marquee 60s linear infinite; /* Ajusta la duración para ralentizar la animación */
}


.news-item {
    padding: 5px 10px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    max-width: 100%; /* Ocupa el ancho completo del contenedor .listadenoticias */
}


@keyframes marquee {
    -0.5% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 768px) {
    .bannernoticias {
        display: none; /* Oculta el banner de noticias en dispositivos móviles */
    }
}


/* Estilos para las imágenes dentro del artículo */
/* Estilos para el article */

.articles-container {
    grid-column: 1; /* Artículo en la primera columna */
    grid-row: 1; /* Artículo en la segunda fila */
    display: grid;
    top: 62px; 
    grid-template-columns: 1fr; /* Un artículo por fila */
    align-content: start; /* Alinea los elementos en la parte superior de la fila */
}

.article {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 20px;
    max-width: 70%;
    margin: 20px auto; /* Agrega un margen superior e inferior de 50px y centra horizontalmente */
}
  
article img {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
}
/*ASIDE*/

/* Estilos para el aside */

.container-aside {
    grid-column: 2; /* El aside en la segunda columna */
    
    padding: 20px;
    max-width: 70%;
    overflow-y: none; /* Agrega una barra de desplazamiento vertical si es necesario */
    margin: 20px -150px; /* Agrega un margen superior e inferior de 50px y centra horizontalmente */
}

.container-aside img iframe{
    max-width: 100%; /* Evita que las imágenes sobrepasen el ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto original de las imágenes */
    display: block; /* Elimina cualquier espacio en blanco debajo de las imágenes */
    margin: 0 auto; /* Centra horizontalmente las imágenes */
    object-fit: cover; /* Ajusta la imagen para llenar el espacio sin distorsión */
}

.container-aside .aside {
    /* Alinea el texto en el aside */
    text-align: left; /* Puedes usar "left", "center" o "right" según tu preferencia */
    margin: 0 auto; /* Centra horizontalmente las imágenes */
}

.container-aside .aside h2.widget-title {
    font-size: 24px;
    color: #333;
    margin: 0 auto;
}

.container-aside .aside ul p{
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.container-aside .aside ul li {
    margin-bottom: 10px;
}

/* Estilos para las imágenes dentro del aside */
.container-aside .aside-1 img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Estilos para el artículo y el aside en dispositivos más pequeños */
@media (max-width: 768px) {
    .content {
        grid-template-columns: 1fr; /* Cambia a una sola columna */
        margin-top: 80px; /* Agrega espacio desde la parte superior, separación del carrusel */
        margin-left: 20px;
        margin-right: 20px;
        align-content: center; /* Centra verticalmente los elementos en la columna principal */
        align-items: center;
    }

    .container-aside {
        grid-column: 1; /* El aside ocupa toda la columna en dispositivos más pequeños */
        grid-row: 4; /* Mueve el aside debajo del artículo */
        margin-top: 0px; /* Aumenta el espacio entre el aside y el artículo */
        margin-left: 0px; 
        margin-right: 0px;
    }

    .article {
        grid-column: 1; /* El artículo ocupa toda la columna en dispositivos más pequeños */
        margin: 20px 0; /* Aumenta el margen superior e inferior del artículo */
    }
}

/* SECTION DE PREMIOS*/
/* tools */
.tools {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  margin-bottom: 200px;
}

.main-heading {
  max-width: 800px;
  text-align: center;
  padding: 20px;
  margin: 0 auto 40px;
}

.tools .tools-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px 20px;
  justify-content: center; /* Centra horizontalmente los elementos */
}

.tools .tool {
  padding: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: var(--main-transition);
}

.tools .tool:hover {
  transform: translateY(-10px);
}

.tools .tool img {
  height: 35px;
  margin-bottom: 20px;
}

.tools .tool h3 {
  color: var(--natural-color);
  margin-bottom: 10px;
}

.tools .tool p {
  color: var(--natural-color-2);
  line-height: var(--line-height);
}

.tools .companies {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 50px 20px;
  justify-content: center; /* Centra horizontalmente los elementos */
}

.tools .companies .img-holder {
  display: flex;
  justify-content: center;
  width: 100%; /* Ancho del contenedor .img-holder al 100% */
  text-align: center;
}

.tools .companies img {
  max-width: 100%;
  height: auto; /* Esto permite que la imagen conserve su relación de aspecto original */
  width: 100%; /* Ancho de la imagen al 100% */
}
.widget {
  width: 100%;
  height: 100%;
  padding: 10px;

  border-radius: 5px;
  margin: 10px;
}

.tools .tool {
    padding: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}



/*FOOTER*/
/* Estilos para el footer */
.footer {
    margin-top: 20px; /* Agrega un margen de 20px desde la parte superior */
    grid-row: 3;
    background: #272727;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 0 6.25em 0 0; /* 100 ÷ 16 */
  }
  
  .footer .content {
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.content .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; /* Espaciado interno de 20px en todas las direcciones */
    width: 100%;
}
  
  .content .top .logo-details {
    color: #fff;
    font-size: 30px;
  }
  
  .content .top .media-icons {
    display: flex;
  }
  
  .top .media-icons a {
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}
  
  .top .media-icons a:nth-child(1) {
    background: #272727;
  }
  
  .top .media-icons a:nth-child(1):hover {
    color: #4267B2;
    background: #fff;
  }
  
  .top .media-icons a:nth-child(2) {
    background: #1DA1F2;
  }
  
  .top .media-icons a:nth-child(2):hover {
    color: #1DA1F2;
    background: #fff;
  }
  
  .top .media-icons a:nth-child(3) {
    background: #E1306C;
  }
  
  .top .media-icons a:nth-child(3):hover {
    color: #E1306C;
    background: #fff;
  }
  
  .top .media-icons a:nth-child(4) {
    background: #0077B5;
  }
  
  .top .media-icons a:nth-child(4):hover {
    color: #0077B5;
    background: #fff;
  }
  
  .top .media-icons a:nth-child(5) {
    background: #FF0000;
  }
  
  .top .media-icons a:nth-child(5):hover {
    color: #FF0000;
    background: #fff;
  }
  
  .content .link-boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Separación de 20px entre top y link-boxes */
    width: 100%;
}
  
  .footer .content .link-boxes .box {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 0 0 calc(20% - 10px); /* Asegura un ancho similar con un margen de 10px entre las ul */
  }
  
  .content .link-boxes .box .link_name {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  
  .link-boxes .box .link_name::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
  }
  
  .content .link-boxes .box li {
    margin: 6px 0;
    list-style: none;
  }
  
  .content .link-boxes .box li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease;
  }
  
  .content .link-boxes .box li a:hover {
    opacity: 1;
    text-decoration: underline;
  }
  
  .content .link-boxes .input-box {
    margin-right: 55px;
  }
  
  .link-boxes .input-box input {
    height: 40px;
    width: calc(100%);
    outline: none;
    border: 2px solid #AFAFB6;
    background: #272727;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
  }
  
  .link-boxes .input-box input::placeholder {
    color: #AFAFB6;
    font-size: 16px;
  }
  
  .link-boxes .input-box input[type="button"] {
    background: #fff;
    color: #272727;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  
  .input-box input[type="button"]:hover {
    opacity: 1;
  }
  
  .footer .bottom-details {
    width: 100%;
    background: #272727;
  }
  
  .footer .bottom-details .bottom_text {
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
  }
  
  .bottom-details .bottom_text a:hover {
    opacity: 1;
    text-decoration: underline;
  }
  
  .bottom-details .bottom_text a {
    margin-right: 10px;
  }
  
  @media (max-width: 900px) {
    .footer .content .link-boxes {
      flex-wrap: wrap;
    }
    .footer .content .link-boxes .input-box {
      width: 40%;
      margin-top: 10px;
    }
  }
  
  @media (max-width: 700px) {
    .footer {
      position: relative;
    }
    .content .top .logo-details {
      font-size: 26px;
    }
    .content .top .media-icons a {
      height: 35px;
      width: 35px;
      font-size: 14px;
      line-height: 35px;
    }
    .footer .content .link-boxes .box {
      width: calc(100% / 3 - 10px);
    }
    .footer .content .link-boxes .input-box {
      width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a {
      font-size: 12px;
    }
  }
  
  @media (max-width: 520px) {
    .footer::before {
      top: 145px;
    }
    .footer .content .top {
      flex-direction: column;
    }
    .content .top .media-icons {
      margin-top: 16px;
    }
    .footer .content .link-boxes .box {
      width: calc(100% / 2 - 10px);
    }
    .footer .content .link-boxes .box input {
      width: 100%;
    }
  }
/*Section de Frase*/
/* Water - Slider */
#water-slider{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/WB-BOSQUE.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px;
  color: #fff;
  text-align: center;
} 

#water-slider h3{
  font-size: 80px;
}
.owl-carousel{
  display: block !important;
}
.owl-img-par{
  position: relative;
  width: 500px;
  overflow: hidden;
}
.owl-img-info{
  position: absolute;
  bottom: 20px;
  left: 25px;
}
.owl-img-info h3{
  font-size: 22px !important;
  padding-bottom: 10px;
}
.owl-carousel .owl-item img{
  display: block;
  width: 100%;
  filter: brightness(0.5);
  transition: all 0.5s ease;
}
.owl-carousel .owl-item img:hover{
  transform: scale(1.1,1.1);
}
  /*Area de blog*/
  * Blog Section */
section#blog h3{
    text-align: center;
}
section#blog{
    margin-top: 20px 50px;
    font-size: 40px;
}
.blog-par{
    display: flex;
    margin: 50px 20px;
}
.blog-content{
    display: flex;
    align-items: center;
}
.blog-info-par ul li{
    display: inline-block;
    font-size: 13px;
    color: #999;
    font-weight: 600;
    text-transform: uppercase;
}
.blog-info-par{
    margin-left: 30px;
}
.blog-img-par img{
    width: 300px;
    height: 140px;
}

.blog-info-par h4{
    color: #00a8c5;
    font-size: 20px;
    margin: 5px 0px;
}
.blog-info-par p{
    color: #777;
    line-height: 23px;
    font-size: 14px;
}
/* .blog-img-par:before{
    content: "24 March";
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    background-color: #00a8c5;
    padding: 10px;
}
.blog-img-par{
    position: relative;
} */

  .main {
    display: flex;
    
    justify-content: center;
    
    background-color: var(--dark-desaturated-blue);
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);

    --white: hsl(0, 0%, 100%);
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
    box-sizing: border-box;
    margin-top: 20px;
    padding: 0;
    font-size: 0.9375rem;
}

.main h1 {
    font-size: 2.2rem;
    padding-bottom: 2rem;
    text-align: justify;
}

.main h1, li span, p, li {
    font-family: 'Inter', sans-serif;
    color: var(--white);
}

.main h1 span {
    color: var(--soft-violet);
}

.main ul {
    display: flex;
    padding-left: 0;
    gap: 2.4em;
}

.main li {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 0.75rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    text-transform: uppercase;
}

.main li span {
    font-weight: 700;
    font-size: 2.2rem;
}

.main p {
    color: hsla(0, 0%, 100%, 0.75);
    padding-bottom: 5rem;
    font-size: 1rem;
    line-height: 1.4;
    text-align: justify;
}

.containerpg2 {
    display: flex;
    
    width: 72em;
    border-radius: 0.625rem;
}

.left-containermm,
.right-containermm {
    width: 50%;
    box-sizing: border-box;
}

.left-containermm {
    padding: 3.5rem;
}

.right-containermm {
    height: 100%;
}

.background-image,
.background-color {
    border-radius: 0 0.625rem 0 0.625rem;
    height: 100%;
}

.background-image {
    background-image: url("../images/cascada.jpg");
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.background-color {
    background-color: var(--soft-violet);
    opacity: 0.4;
    z-index: 2;
}
@media (max-width: 752px) {
  .containerpg2 {
      width: 100%; /* Ajustar al 100% en vista responsiva */
  }

  .background-image {
      display: none;
  }
}
  
  
  /* BOTON DE SUBIR HACIA EL TOP*/

  #scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 24px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
}

#scroll-to-top:hover {
    background-color: #0056b3;
}
